snippet s
	snippet ${0}
snippet ns
	namespace 
snippet ec
	echo ${0};
snippet pu
	public 
snippet pr
	private 
snippet prt
	protected 
snippet st
	static 
snippet fun
	function ${1}(${2}) 
	{
		${3}
	}
snippet pf
	public function ${1}(${2}) 
	{
		${3}
	}
snippet th
	$this->
snippet c
	class ${1} 
	{
		${2}
	}
snippet cext
	class ${1} extends ${2}
	{
		${3}
	}
snippet vd
	var_dump(${1});
snippet vdd
	var_dump(${1}); die;
snippet e
	throw new \Exception(${1});
